<div style="padding: 2rem; margin: 0;">
    <div style="display:flex; background-color: rgb(118, 118, 187);">

        <div style="text-align: center; width: 50%; padding-top: 5%;">
            <p>Welcome to Stl Bet!</p>
            <br>
            <p>Get the best insights to place your bets</p>
            <br>
            <button mat-raised-button color="primary" routerLink="/sports">Get Started</button>
        </div>
        <div class="prop-pic" style="width:50%; height: 500px;">
        </div>
    </div>
</div>>