<div style="height: 100%; width:100%; background-color:#1F1E1F;" class="main-body">

  <div style="height:100%; display:flex; flex-direction:column">
    <div *ngIf="selectedPlayer != null" class="top-bar">
      <div class="player-name">
        <h1 class="player-name-name">{{selectedPlayer!.playerName}}: </h1>
        <h1 class="player-name-team">{{selectedPlayer!.teamName}}</h1>
      </div>
      <div style="display:flex; width:100%; gap:5px; align-items: center; margin-top: 1rem;">
        <h2 style="margin-left:auto; color:white;">Season: </h2>
        <mat-form-field style="width:min-content; margin-right:1rem;">
          <mat-select placeholder="{{playerSeason}}" style="display: inline-block; width: auto;">
            <mat-option *ngFor="let season of playerSeasons" (onSelectionChange)="updateSeasonsDisplayed(season)"
              value="season">
              {{season}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </div>


    <!--  <div class="player-total-stats">
      <h4 style="text-align: center;">Player Averages</h4>
      <table mat-table [dataSource]="playerTotalStats" class="mat-elevation-z8" style="height: inherit;">

        <ng-container *ngFor="let col of playerTotalDataSet" matColumnDef="{{col.name}}">
          <th mat-header-cell *matHeaderCellDef>{{col.name}}</th>
          <td mat-cell *matCellDef="let element; let j = index;">
            {{element[col.data] | number: '1.2-2'}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="playerTotalStatColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: playerTotalStatColumns; " style="height:auto;">
        </tr>

      </table>
    </div> -->
    <div class="graph-body">
      <div [ngClass]="selectedSport == 'NFL' ? 'nfl-chart' : 'other-chart'">
        <canvas id="lineChart">{{ chart }}</canvas>
      </div>
      <!-- <div style="width: 40%;">
       <canvas id="barChart">{{ chart2 }}</canvas> 
      </div> -->
      <div [ngClass]="selectedSport == 'NFL' ? 'nfl-chart-toggles': 'chart-toggles'">
        <span class="example-list-section">
          <mat-slide-toggle [(ngModel)]="isCombineStats" (ngModelChange)="reDrawLineGraph()">Combine
            Stats</mat-slide-toggle>
          <ul [ngClass]="selectedSport == 'NFL' ? 'nfl-stat-toggle-list' : 'stat-toggle-list'">
            <li *ngFor="let box of fullDataset">
              <mat-checkbox [(ngModel)]="box.showLine" [color]="box.color" (ngModelChange)="reDrawLineGraph()">
                {{box.label}}
              </mat-checkbox>
            </li>
          </ul>
        </span>

      </div>
    </div>
    <div class="stats-body">
      <div *ngIf="playerPropArray.length > 0"
        style="width:100%; display: flex; flex-direction: column; margin-bottom:2rem;">
        <div style="margin-left: auto; margin-right: auto; color:#DBD4D1;">
          <h2>Upcoming Games and Props</h2>
        </div>
        <div style="display:flex; padding: 0 1rem; overflow-x:scroll; scrollbar-width:none; gap:1rem; height: max-content;">


          <div style="width:20%; ">
            <div style="display:flex; flex-direction: column;background-color: #3C3E3D;border-radius: 8px;color: #DBD4D1; height:100%; border: 1px solid hsl(18,12%,60%); justify-content: center;">
              <h2 style="margin-bottom:0; text-align: center;" *ngIf="playerPropArray[0][0].homeAway == 'Away'">{{playerPropArray[0][0].teamName}} &#64; {{playerPropArray[0][0].teamAgainstName}}</h2>
              <h2 style="margin-bottom:0; text-align: center;" *ngIf="playerPropArray[0][0].homeAway == 'Home'">{{playerPropArray[0][0].teamAgainstName}} &#64; {{playerPropArray[0][0].teamName}}</h2>
              <span style="text-align: center;">{{playerPropArray[0][0].playerBookData.commenceTime | getDayAndTime}}</span>
            </div>
          </div>
          <div class="player-props">
            <div  *ngFor="let prop of playerPropArray">
              <div class="player-prop-body" *ngIf="prop.propType == 'total'">
                <h3 style="margin-top:auto; margin-bottom: auto; ">{{prop[0].playerBookData.marketKey | removeUnderScore
                  |
                  titlecase}}:</h3>
                <h4 class="prop-point">{{prop[0].playerBookData.point}}</h4>
                <div class="prop-one">
                  <h4 style="margin-top:auto; margin-bottom: auto; ">{{prop[0].playerBookData.description}}</h4>
                  <h4 style="margin-top:auto; margin-bottom: auto; ">{{prop[0].playerBookData.price > 0 ? '+' : ''}}{{prop[0].playerBookData.price}}
                  </h4>
                </div>
                <div class="prop-two">
                  <h4 style="margin-top:auto; margin-bottom: auto; ">{{prop[1].playerBookData.description}}</h4>
                  <h4 style="margin-top:auto; margin-bottom: auto; ">{{prop[1].playerBookData.price > 0 ? '+' : ''}}{{prop[1].playerBookData.price}}
                  </h4>
                </div>
              </div>
              <div class="player-prop-body" *ngIf="prop.propType == 'altTotal'">
                <h3 style="margin-top:auto; margin-bottom: auto;">{{prop[prop.index].playerBookData.marketKey | removeUnderScore
                  |
                  titlecase}}:</h3>
                  <div style="display:flex; align-items: center; gap:5px;">
                    <button 
                    style="padding-left: 0; padding-right:0; min-width:40px; width:20px;"
                    (click)="$event.stopPropagation()" mat-raised-button [disabled]="prop.index == 0"
                    (click)="prop.index = prop.index - 1">
                    <mat-icon class="search-icon" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="keyboard_arrow_left"></mat-icon>
                    </button>
                  <h4 class="prop-point">{{prop[prop.index].playerBookData.point}}</h4>
                  <button 
                              style="padding-left: 0; padding-right:0; min-width:40px; width:20px;"
                              (click)="$event.stopPropagation()" mat-raised-button [disabled]="prop.index == prop.length - 1"
                              (click)="prop.index = prop.index + 1">
                              <mat-icon class="search-icon" aria-hidden="false" aria-label="Example home icon"
                                  fontIcon="keyboard_arrow_right"></mat-icon>
                              </button>
                  </div>
                  
                <div class="prop-one">
                  <h4 style="margin-top:auto; margin-bottom: auto; ">{{prop[prop.index].playerBookData.description}}</h4>
                  <h4 style="margin-top:auto; margin-bottom: auto; ">{{prop[prop.index].playerBookData.price > 0 ? '+' : ''}}{{prop[prop.index].playerBookData.price}}
                  </h4>
                </div>
              </div>
              
            </div>

          </div>
        </div>

      </div>
      <div style="width:100%;">
        <h1 style="text-align: center; color:#DBD4D1"> Stats</h1>
      </div>
      <div class="table-body">
        <div class="table">
          <table mat-table [dataSource]="selectedSeasonPlayerStats" class="mat-elevation-z8" style="height: inherit; background-color:#3C3E3D;">

            <ng-container *ngFor="let col of displayedColumnsValues" matColumnDef="{{col.name}}">
              <th mat-header-cell *matHeaderCellDef>{{col.name}}</th>
              <td mat-cell *matCellDef="let element; let i = selectedSeasonPlayerStats; let j = index;">
                {{col.name == 'Game' ? element.homeOrAway == 'Away' ? '@' :
                '' : ''}}{{element[col.value]}}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row [class.demo-row-is-clicked]="row.isHighlighted"
              *matRowDef="let row; columns: displayedColumns; " style="height:auto;">
            </tr>

          </table>
        </div>
        <div class="table-search">
          <div
            style="background-color: gray; display:flex; justify-content: flex-start; align-items: flex-start; flex-direction: column;">
            <div style="height: inherit; width: 100%; display:flex; justify-content: flex-start; align-items:center;">
              <div style="display: flex; flex-wrap:wrap;">
                <div *ngFor="let forms of formArray" class="search-form">
                  <mat-form-field style="width:inherit;">
                    <mat-label>Select</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let stat of fullDataset" (onSelectionChange)="updateForm(forms, stat)"
                        value={{stat.dataName}}>{{stat.label}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div style="display:flex; margin-left: 0.5rem; margin-top:-1rem; margin-bottom:0.5rem;width:inherit;">
                    <h5 style="margin-bottom:auto; margin-right: 5px;">Under</h5>
                    <mat-slide-toggle [(ngModel)]="forms.overUnder"></mat-slide-toggle>
                    <h5 style="margin-bottom:auto; margin-right: 5px;">Over</h5>
                  </div>
                  <input matInput type="number" min="0.5" step="1" [(ngModel)]="forms.number" style="width:inherit;"
                    (click)="$event.stopPropagation()">
                  <button mat-raised-button [color]="'warn'"
                    style="margin-top: 1rem; display:flex; margin-left:auto; margin-right:auto; width:inherit;"
                    (click)="deleteformArray(forms)" (click)="$event.stopPropagation()">Delete</button>


                </div>

                <div class="search-buttons">
                  <button style="height: fit-content; width: fit-content; border-radius: 10px;" mat-raised-button
                    (click)="addStatForm()">Add</button>
                  <button style="height: fit-content; width: fit-content; border-radius: 10px;" mat-raised-button
                    (click)="clearSearch()">Clear</button>
                  <button style="height: fit-content; width: fit-content; border-radius: 10px;" mat-raised-button
                    (click)="searchNumberSubmit()">Search</button>
                </div>

              </div>

            </div>
            <div *ngIf="isSearched" class="search-results"
              style="display:flex; gap:1rem; padding-left:1rem; border-top: 2px solid black; margin-top:1rem; width:100%;">
              <div style="display: flex; flex-direction: column;">
                <h2>Record</h2>
                <div>{{totalNumberHighlighted}} - {{selectedSeasonPlayerStats.length}}</div>
              </div>
              <div style="display: flex; flex-direction: column;">
                <h2>Chance</h2>
                <div>{{(totalNumberHighlighted / selectedSeasonPlayerStats.length) | percent: '2.2-2'}}</div>
              </div>

            </div>




          </div>

        </div>

      </div>



    </div>
  </div>


</div>