.body {
    height: calc(100vh - 60px);
    display: flex;
}

.games-list {
    height:100%;
    width: 150px;
    min-width:150px;
}

.games-list-box {
    overflow-y: scroll;
    scrollbar-width: none;

}
.game-info{
    width:100%; 
    display:flex;
    justify-content: space-evenly;

}
.prop-section{
    width:100%;
}
.prop-display{
    margin-top:.5rem;
}
.list-of-props{
    width: fit-content;
}
.team-and-record{
    display:flex;
}
.team-name{
    text-decoration: none;
}
.team-name:hover{
    cursor: pointer;
}
.prop-type-section{
    width: 100%;
}
.prop-display{
    height:100%;
    width:100%;
}