.body {
    display: flex;
}

.games-list {
    width: 150px;
}

.games-list-box {
    overflow-y: scroll;
    scrollbar-width: none;

}
.game-info{
    width:100%; 
    display:flex;
    
}
.team-and-record{
    display:flex;
}