<div class="body">
    <div class="games-list">
        <mat-chip-listbox class="mat-mdc-chip-set-stacked chip-box games-list-box" aria-label="Color selection">
            <mat-chip-option *ngFor="let game of selectedSportGamesFinal"
                style="height:50px; width:auto; margin-left:auto; margin-right:auto;" [selectable]="false"
                [selected]="game[0].selected" (click)="onGameClick(game[0][0].bookId)">
                <div style="display:flex; flex-direction: column;">
                    <div>
                        {{game[0][0].awayTeam}} &#64; {{game[0][0].homeTeam}}
                    </div>
                    <div>
                        {{game[0][0].commenceTime | getDayAndTime}}
                    </div>
                </div>
            </mat-chip-option>
        </mat-chip-listbox>

    </div>
    <!-- onTeamClick(homeTeamStatsDisplay.teamName) -->
    <div class="prop-section">
        <div class="game-info">
            <div class="team-and-record">
                <a class="team-name" style="text-decoration: none;">
                    <h2 (click)="false">{{awayTeamStatsDisplay.teamName + " "}}</h2>
                </a>
                <h2 class="record1" *ngIf="selectedSport == 'NHL'" style="text-align: center; margin-right:auto;">({{awayTeamStatsDisplay.wins}}
                    - {{awayTeamStatsDisplay.loss}} - {{awayTeamStatsDisplay.otl}})</h2>
            </div>

            <h2 style="width: 4%; text-align: center;">&#64;</h2>
            <div class="team-and-record">
                <a class="team-name" style="text-decoration: none;">
                    <h2 (click)="false">{{homeTeamStatsDisplay.teamName + " "}}</h2>
                </a>
                <h2 class="record1" *ngIf="selectedSport == 'NHL'" style="text-align: center; margin-right:auto;">({{homeTeamStatsDisplay.wins}}
                    - {{homeTeamStatsDisplay.loss}} - {{homeTeamStatsDisplay.otl}})</h2>

            </div>
        </div>
        <div class="prop-type-section">
            <mat-chip-listbox class="mat-mdc-chip-set-stacked chip-box" aria-label="Color selection">
                <mat-chip-option *ngFor="let prop of listOfProps" style="height:40px; width:auto;" [selectable]="false"
                    [selected]="prop.selected" (click)="onPropChange(prop.type)">
                    {{prop.type}}
                </mat-chip-option>
            </mat-chip-listbox>
            <div class="prop-display">
                <div class="list-of-props">
                    <mat-accordion style="width:94%">
                        <mat-expansion-panel *ngFor="let prop of teamPropFinnal; let i = index;">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{displayPropTitle(prop)}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <!-- <div *ngFor="let team of prop">
                                <span>{{team.teamName}}</span>
                                <span>{{team.point}}</span>
                                <span>{{team.price}}</span>
                            </div> -->
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="prop-stats-panel">  
                    <!-- <h2>{{selectedProp.teamName + " " + selectedProp.propName}}</h2>
                    <div>

                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>