<div class="body">
    <div class="games-list">
        <mat-chip-listbox class="mat-mdc-chip-set-stacked chip-box games-list-box" aria-label="Color selection">
            <mat-chip-option *ngFor="let game of selectedSportGamesFinal"
                style="height:50px; width:auto; margin-left:auto; margin-right:auto;" [selectable]="false"
                [selected]="game[0].selected" (click)="onGameClick(game[0][0].bookId)">
                <div style="display:flex; flex-direction: column;">
                    <div>
                        {{game[0][0].awayTeam}} &#64; {{game[0][0].homeTeam}}
                    </div>
                    <div>
                        {{game[0][0].commenceTime | getDayAndTime}}
                    </div>
                </div>
            </mat-chip-option>
        </mat-chip-listbox>

    </div>
    <!-- onTeamClick(homeTeamStatsDisplay.teamName) -->
    <div *ngIf="showSpinner" style="height:100%; width: 100%; background-color: white;">
        <mat-spinner [mode]="'indeterminate'" style="margin:auto;"></mat-spinner>
    </div>
    <div class="prop-section" *ngIf="!showSpinner">
        <div class="game-info">
            <div class="team-and-record">
                <a class="team-name" style="text-decoration: none;">
                    <h2 (click)="false">{{awayTeamStatsDisplay.teamName + " "}}</h2>
                </a>
                <h2 class="record1" *ngIf="selectedSport == 'NHL'" style="text-align: center; margin-right:auto;">
                    ({{awayTeamStatsDisplay.wins}}
                    - {{awayTeamStatsDisplay.loss}} - {{awayTeamStatsDisplay.otl}})</h2>
            </div>

            <h2 style="width: 4%; text-align: center;">&#64;</h2>
            <div class="team-and-record">
                <a class="team-name" style="text-decoration: none;">
                    <h2 (click)="false">{{homeTeamStatsDisplay.teamName + " "}}</h2>
                </a>
                <h2 class="record1" *ngIf="selectedSport == 'NHL'" style="text-align: center; margin-right:auto;">
                    ({{homeTeamStatsDisplay.wins}}
                    - {{homeTeamStatsDisplay.loss}} - {{homeTeamStatsDisplay.otl}})</h2>

            </div>
        </div>
        <div class="prop-type-section">
            <mat-chip-listbox class="mat-mdc-chip-set-stacked chip-box" aria-label="Color selection">
                <mat-chip-option *ngFor="let prop of listOfProps" style="height:40px; width:auto;" [selectable]="false"
                    [selected]="prop.selected" (click)="onPropChange(prop.type)">
                    {{prop.type}}
                </mat-chip-option>
            </mat-chip-listbox>

            <div class="prop-display">
                <div class="list-of-props">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let prop of teamPropFinnal; let i = index;" [expanded]="i == 0"
                            style="display:flex; flex-direction: column;">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{displayPropTitle(prop)}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div style="display:flex; flex-direction: column; gap: .5rem;">
                                <div *ngFor="let team of prop" class="team-prop-div" (click)="onPropClicked(team)">
                                    <div style="display:flex; gap:1rem;"
                                        *ngIf="prop.propType != 'total' && prop.propType != 'altTotal'">
                                        <span>{{team.teamName}}</span>
                                        <span *ngIf="team.propType != 'h2h'"
                                            style="margin-left:auto;">{{team.gameBookData.point > 0 ? '+' :
                                            ''}}{{team.gameBookData.point}}</span>
                                        <span
                                            [ngStyle]="{'margin-left': (team.propType == 'h2h') ? 'auto' : 'none'}">{{team.gameBookData.price
                                            > 0 ? '+' : ''}}{{team.gameBookData.price}}</span>
                                    </div>
                                    <div style="display:flex; gap:1rem;" *ngIf="prop.propType == 'total'">
                                        <span>{{team[0].teamName}}</span>
                                        <span style="margin-left:auto;">{{team[0].gameBookData.point}}</span>
                                        <span>{{team[0].gameBookData.price > 0 ? '+' :
                                            ''}}{{team[0].gameBookData.price}}</span>
                                        <span>{{team[1].gameBookData.price > 0 ? '+' :
                                            ''}}{{team[1].gameBookData.price}}</span>
                                    </div>
                                    <div style="display:flex; gap:1rem;" *ngIf="prop.propType == 'altTotal'">
                                        <span>{{team[index][0].teamName}}</span>
                                        <span
                                            style="margin-left:auto;">{{team[team.index][0].gameBookData.point}}</span>
                                        <span>{{team[index][0].gameBookData.price > 0 ? '+' :
                                            ''}}{{team[index][0].gameBookData.price}}</span>
                                        <span>{{team[index][1].gameBookData.price > 0 ? '+' :
                                            ''}}{{team[index][1].gameBookData.price}}</span>
                                    </div>

                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="prop-stats-panel">
                    <div class="top-prop-panel">
                        <h2 style="margin-bottom:0;">{{selectedDisplayProp.teamName}}</h2>
                        <h3 class="prop-type" style="margin-bottom:0;">{{getPropNameFromMarketKey(selectedDisplayProp.gameBookData.marketKey)}}</h3>
                        <div *ngIf="selectedDisplayProp.propType != 'h2h'" class="buttons" style="display:flex; align-items: center; gap:.4rem;">
                            <button *ngIf="selectedDisplayProp.propType == 'altTotal'"
                            style="padding-left: 0; padding-right:0; min-width:40px; width:20px;"
                            (click)="$event.stopPropagation()" mat-raised-button [disabled]="index == 0"
                            (click)="updatePropIndex('Down')">
                            <mat-icon class="search-icon" aria-hidden="false" aria-label="Example home icon"
                                fontIcon="keyboard_arrow_left"></mat-icon>
                            </button>
                            <h3 style="margin-bottom:0;" *ngIf="selectedDisplayProp.propType != 'h2h'">
                            {{(selectedDisplayProp.propType == 'spread') ? (selectedDisplayProp.gameBookData.point > 0 ? '+' : '') : '' }}{{selectedDisplayProp.gameBookData.point}}</h3>
                        
                            <button *ngIf="selectedDisplayProp.propType == 'altTotal'" style="padding-left: 0; padding-right:0; min-width:40px; width:20px;"
                            (click)="$event.stopPropagation()" mat-raised-button
                            [disabled]="index == selectedProp.length-1" (click)="updatePropIndex('Up')">
                            <mat-icon class="search-icon" aria-hidden="false" aria-label="Example home icon"
                                fontIcon="keyboard_arrow_right"></mat-icon>
                        </button>
                        </div>
                            
                        <h3 style="margin-bottom:0;">{{selectedDisplayProp.gameBookData.price > 0 ? '+' : ''}}{{selectedDisplayProp.gameBookData.price}}</h3>
                        <div class="toggle-container" *ngIf="selectedDisplayProp.propType == 'total' || selectedDisplayProp.propType == 'altTotal'"
                            style="display:flex;">
                            <h4 style="margin-bottom: auto; margin-right: 5px">Under</h4>
                            <mat-slide-toggle (change)="updateOverUnder()"
                                [(ngModel)]="overUnderSlide"></mat-slide-toggle>
                            <h4 style="margin-bottom: auto">Over</h4>
                        </div>
                    </div>
                    <div class="stat-body">
                        <div [ngClass]="selectedDisplayProp.propType == 'h2h' ? 'records-h2h' : 'records-all'">
                                <div class="stat-div" style="grid-column-start: 2;">
                                    <h4>Record</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>Chance</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>Weighted</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>Avg</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>High</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>Low</h4>
                                </div>
                                <h3 style="font-weight: bold; border-bottom: 1px solid #ddd;">Overall</h3>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.overallWins}} - {{selectedDisplayProp.overallTotal - selectedDisplayProp.overallWins}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.overallChance | percent: '2.2-2'}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.overallWeighted | percent: '2.2-2'}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.averageOverall | number: '1.2-2'}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.highOverall | number: '1.2-2'}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.lowOverall | number: '1.2-2'}}</h4>
                                </div>
                                <h3 style="font-weight: bold; border-bottom: 1px solid #ddd;">{{selectedDisplayProp.homeAway}}</h3>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.homeAwayWins}} - {{selectedDisplayProp.homeAwayTotal - selectedDisplayProp.homeAwayWins}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.homeAwayChance | percent: '2.2-2'}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.homeAwayWeighted | percent: '2.2-2'}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.averageHomeAway | number: '1.2-2'}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.highHomeAway | number: '1.2-2'}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.lowHomeAway | number: '1.2-2'}}</h4>
                                </div>
                                
                                <h3 style="font-weight: bold; border-bottom: 1px solid #ddd;">Vs {{selectedDisplayProp.teamAgainstName}}</h3>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.teamWins}} - {{selectedDisplayProp.teamTotal - selectedDisplayProp.teamWins}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.teamChance | percent: '2.2-2'}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.teamWeighted | percent: '2.2-2'}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.averageTeam | number: '1.2-2'}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.highTeam | number: '1.2-2'}}</h4>
                                </div>
                                <div class="stat-div">
                                    <h4>{{selectedDisplayProp.lowTeam | number: '1.2-2'}}</h4>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>