*{
    z-index: 1;
}
/*

darker blue
#22577A

lighter blue
BADEFC

lighter green
57CC99

ivory
F5F6EC

black
240605



*/

.mat-tab-label1 { padding: 15px 0 15px 0; }
mat-tab-group{
  background-color: #22577A;
}
.team-prop-display{
    background-color:rgb(255, 56, 56);
    display:flex;
    justify-items: center;
    padding-top: 1rem;
}
.team-prop-display button{
    margin-right: 1rem;
    margin-left: 1rem;
}
.card-header{
    background-color: rgb(174, 174, 245);
}
.example-element-detail {
    overflow: hidden;
    display: flex;
    gap: 3rem;
  }
  tr.example-detail-row {
    height: 0;
  }
  mat-panel-description{
    gap: 60rem;
  }


  .player-table {
    width: 100%;
  }
  
 
  
  .mat-column-detailedStats {
    width: 125px;
    text-align: center;
    font-weight: bold;
  }
  .games-tab .games-tabs{
    //width:  !important;
    //text-wrap: wrap !important;
  }

   /* @media screen {
    body{
      background-color: orange;
    }

    ::ng-deep .games-tab  .mdc-tab {
      font-size: var(--mdc-typography-button-font-size, 12px) !important;
      padding-left: var(--mdc-typography-button-padding, 2px) !important;
      padding-right: var(--mdc-typography-button-padding, 2px) !important;
      width:50px !important;
      text-wrap: wrap !important;
    }
  } 

  @media only screen and (max-width: 1000px){
    body{
      background-color: orange;
    }

    ::ng-deep .games-tab  .mdc-tab {
      font-size: var(--mdc-typography-button-font-size, 8px) !important;
      padding-left: var(--mdc-typography-button-padding, 0px) !important;
      padding-right: var(--mdc-typography-button-padding, 0px) !important;
      min-width:20px !important;
      text-wrap: wrap !important;
    }
  }
 */
  .selected-game{
    background-color: powderblue !important;
    
  }

  a :hover{
    color:blue
  }
  .prop-main{
    display: flex;
    width: 100%;
  }
  .games-list{
    width: 10%; 
    background-color: #8ecae6; 
    height: calc(100% - 60px);
    position: fixed; 
    top: 60px; 
    left:0; 
    z-index:99;
    overflow-y: scroll;

  }

  .away-team, .home-team{
    width: 50%;

  }

  .away-team {
    background-color: green;

  }

  .home-team{
    background-color: red;
  }

  .prop-names p, button{
    width: 33%;
    text-align: center;
    
  }
  .prop-names p{
    font-weight: bold;
  }
  .enabled{
    width: 50% !important;
  }
  .disabled{
    width: 100% !important;
  }
  .maindis{
    width: 600px !important; 
  }
  .mainenabled{
    width:900px !important;
  }
  #lineChart2{
    width: 50% !important;
  }
   