*{
    z-index: 1;
}
.mat-tab-label1 { padding: 15px 0 15px 0; }
.team-prop-display{
    background-color:rgb(255, 56, 56);
    display:flex;
    justify-items: center;
    padding-top: 1rem;
}
.team-prop-display button{
    margin-right: 1rem;
    margin-left: 1rem;
}
.card-header{
    background-color: rgb(174, 174, 245);
}
.example-element-detail {
    overflow: hidden;
    display: flex;
    gap: 3rem;
  }
  tr.example-detail-row {
    height: 0;
  }
  mat-panel-description{
    gap: 60rem;
  }


  .player-table {
    width: 100%;
  }
  
 
  
  .mat-column-detailedStats {
    width: 125px;
    text-align: center;
    font-weight: bold;
  }
  .games-tab .games-tabs{
    //width:  !important;
    //text-wrap: wrap !important;
  }

   @media screen {
    body{
      background-color: orange;
    }

    ::ng-deep .games-tab  .mdc-tab {
      font-size: var(--mdc-typography-button-font-size, 12px) !important;
      padding-left: var(--mdc-typography-button-padding, 2px) !important;
      padding-right: var(--mdc-typography-button-padding, 2px) !important;
      width:50px !important;
      text-wrap: wrap !important;
    }
  } 

  @media only screen and (max-width: 1000px){
    body{
      background-color: orange;
    }

    ::ng-deep .games-tab  .mdc-tab {
      font-size: var(--mdc-typography-button-font-size, 8px) !important;
      padding-left: var(--mdc-typography-button-padding, 0px) !important;
      padding-right: var(--mdc-typography-button-padding, 0px) !important;
      min-width:20px !important;
      text-wrap: wrap !important;
    }
  }

  
   