 

 html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  } 
  .top-button button:hover{
    cursor: pointer;
    background-color: #BADEFC !important;
}
.top-button{
  justify-content: space-evenly; 
  //gap: 1rem; 
  display:flex;  
  //margin-right: 1rem; 
  height:100%; 
  width: auto;
}
.logo{
  color: #240605; 
  font-size: 250% !important;
  font-weight: 500 !important;
  margin-left: 1rem;
  text-wrap: nowrap;
  display:flex;
  margin-top: auto;
  margin-bottom:auto;



}
.logo:hover{
  color: #57CC99;
}
@media screen and (max-width: 600px){
  .top-button{
    margin-left:0.5rem;
    
  }
  .top-button button{
    display:flex;

    //width: auto;
    text-wrap: wrap;
    font-size: 70%;
    margin-right:auto !important;
    margin-left:auto !important;
  }
  .logo{
    font-size: 200% !important;
    margin-left: .5rem;
  }
}
button{
  //height:65% !important;
   //margin: auto 0 !important; 
}