 

 html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  } 
  .top-button button:hover{
    cursor: pointer;
    background-color: #F0ECE5 !important;
    color: #31304d !important;
}
.top-button{
  justify-content: flex-end; 
  gap: 1rem; 
  display:flex;  
  margin-right: 1rem; 
  height:100%; 
  width: auto
}
.logo{
  color: #F0ECE5; 
  font-size: xx-large; 
  transform: translateY(35%); 
  margin-left: 1rem;
}
@media screen and (max-width: 600px){
  .top-button{
    gap:0;
    margin-right: 0; 
    margin-left:0;
    text-align: right;
  }
  .top-button button{
    width: 15%;
    text-wrap: wrap;
    font-size: 70%;
    margin-right:0;
    margin-left:0;
  }
  .logo{
    font-size: 70%;
  }
}
button{
  //height:65% !important;
   //margin: auto 0 !important; 
}