
<div style="height: 60px; width: 100%; display: flex; border-bottom: 3px solid #F0ECE5; background-color: #31304d; position: sticky; top: 0; left: 0; z-index: 100;">
    <div style="width: 33%; height: 100%;  display:flex;">
        <a routerLink="home" style="text-decoration: none;"><h1 class="logo" >
            STL Bet
        </h1></a>
    </div>
    <div style="width: 67%; height: 100%;">
        <div class="top-button">
            <button mat-button style="background-color: #31304d; color: #F0ECE5;height:65%;margin-top:auto; margin-bottom: auto;" routerLink="/sports">Props</button>
            <button mat-button style="background-color: #31304d; color: #F0ECE5;height:65%;margin: auto 0" routerLink="/playerStats">Player
                Stats</button>
            <button mat-button style="background-color: #31304d; color: #F0ECE5;height:65%;margin: auto 0" routerLink="/teamStats">Team Stats</button>

            <button mat-button style="background-color: #31304d; color: #F0ECE5;height:65%;margin: auto 0">Log In</button>
            <button mat-button style="background-color: #31304d; color: #F0ECE5; height:65%;margin: auto 0">Sign Up</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
