
div{
    padding: 0;
    
    width: 100vw;
}

mat-toolbar{
    width: inherit;
}

.top-button button{

}
.game-list button:hover{
    background-color: #415a77 !important;
    color: #F0ECE5 !important;
}

.top-button button:hover{
    cursor: pointer;
    background-color: #F0ECE5 !important;
    color: #31304d !important;
}

mat-sidenav-container{
    height:calc(205vh - 112vh);
}
mat-sidenav{
    width:150px;
    background-color: #eee;
}
mat-sidenav button{
    display: flex;
    flex-direction: column;
    columns: 1;
    width: inherit;
    gap: 1rem;
    margin-top: 1rem;
} 
.sports-tab{
    border-top: 2px solid white;
}
.welcome{
   text-align: center;
}
mat-chip-option{
    height: 75%;
}
.example-spacer {
    flex: 1 1 auto;
  }

  @media screen and (max-width: 750px) {
    mat-sidenav-container{
    }
  }

.selected {
    background-color: #415a77 !important ;
    color: #F0ECE5 !important;
}
.unselected {
    background-color: #31304d !important;
    color: #F0ECE5 !important;
}

.disabled{
    background-color: gray !important;
}
.enabled{
    background-color: #F0ECE5 !important;
    color: #31304d !important;
}
.teamLink{
    text-decoration: none;
    
}
.teamLink:hover{
    cursor: pointer;
    color: #415a77;


}
.team-row{
    width: auto;
}
.team-row p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.team-name{
    text-align: left;
    width: 50%;
}
.team-prop{
    text-align: right;
    width: 15%;
}
