
div{
    padding: 0;
    
    width: 100vw;
}

mat-toolbar{
    width: inherit;
}

.top-button button{

}
.game-list button:hover{
    background-color: #415a77 !important;
    color: #F0ECE5 !important;
}

.top-button button:hover{
    cursor: pointer;
    background-color: #F0ECE5 !important;
    color: #31304d !important;
}

mat-sidenav-container{
    height:calc(205vh - 112vh);
}
mat-sidenav{
    width:150px;
    background-color: #eee;
}
mat-sidenav button{
    display: flex;
    flex-direction: column;
    columns: 1;
    width: inherit;
    gap: 1rem;
    margin-top: 1rem;
} 
.sports-tab{
    border-top: 2px solid white;
}
.welcome{
   text-align: center;
}
mat-chip-option{
    height: 75%;
}
.example-spacer {
    flex: 1 1 auto;
  }

  @media screen and (max-width: 750px) {
    mat-sidenav-container{
    }
  }

.selected {
    background-color: #415a77 !important ;
    color: #F0ECE5 !important;
}
.unselected {
    background-color: #31304d !important;
    color: #F0ECE5 !important;
}

.disabled{
    background-color: gray !important;
}
.enabled{
    background-color: #F0ECE5 !important;
    color: #31304d !important;
}
.teamLink{
    text-decoration: none;
    
}
.teamLink:hover{
    cursor: pointer;
    color: #415a77;


}
.team-row{
    width: auto;
}
.team-row p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.team-name{
    text-align: left;
    width: 50%;
}
.team-prop{
    text-align: right;
    width: 15%;
}
.spread-prop{
    text-align: right;
    width: 15%;
    display:flex; 
    flex-direction: column;
}


.top-fives{
    width: 48%; 
    border: 1px solid #F0ECE5;  
    border-radius: 10px;  
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
    background-color: #31304d;
}

.outer-div{
    height: 93.35%;
     width: auto; 
     background-color:#31304d; 
     display:flex;
}
.game-list{
    height: 100%; 
    width: 7%; 
    max-width: 125px; 
    border-right: 3px solid #F0ECE5; 
    margin-top: 3px;
    position: sticky;
    top: 0;
    z-index: 0;
    
}
.sport-section{
    width:93.6%; 
    margin-top: 0; 
    display: flex; 
    flex-direction: column; 
    background-color: #F0ECE5;
}
.upcoming-games{
    width: 100%; 
    display: flex; 
    align-items: center; 
    margin-top: 1rem;
}
.games-body{
    width: 98%;  
    border: 1px solid #F0ECE5;
     border-radius: 10px; 
     margin-left: auto; 
     margin-right: auto; 
     margin-bottom: 1rem; 
     display:flex; 
     flex-direction: column; 
     background-color: #31304d;
}
.game-card{
    width: 15%; 
    min-width: 300px;  
    height: 170px
}
@media screen and (max-width: 974px) {
    .top-fives{
        width: 98%;
    border: 1px solid #F0ECE5;  
    border-radius: 10px;  
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
    background-color: #31304d;
    }
    .outer-div{
        flex-direction: column;
    }
    .game-list{
        height: 60px;
        width: 100%;
        max-width: none;
        border-right: none;
        border-bottom: 3px solid #F0ECE5;
        display: flex;
        background-color: #31304d;
    }
    .sport-section{
        width:100%;
    }
    .upcoming-games{
        width: 100%;
    }
    .games-body{
        width: 98%;
    }
    .game-card{
        width: 48%; 
        min-width: 300px;  
        height: 170px
    }
    .mat-mdc-cell, .mat-mdc-header-cell {
        padding: 6px 6px 6px 2px !important;
      }
  }
  @media screen and (max-width: 680px){
    .game-card{
        width: 98%; 
    }
  }
