 <div class="outer-div" >

    <div class="game-list" >
      <mat-chip-listbox class="mat-mdc-chip-set-stacked chip-box" aria-label="Color selection">
        <mat-chip-option *ngFor="let game of gamesList" style="height:40px; width:85%; color: #DBD4D1;" [selectable]="false" [selected]="game.selected"  [disabled]="game.disabled == true"
         (click)="onSportsListClick(game.name)">
          {{game.name}}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
<div style="display:flex; flex-direction:column; width:100%;">
    <div style=" display: flex; align-items: center;   margin-top: 1rem; margin-bottom: 1rem; width:96%; margin-left:auto; margin-right:auto;">
      
      <h1
        style=" height: 100%; text-align: start;  font-weight: 500; color:#3C3E3D; font-size: xx-large; margin-top:auto; margin-bottom: auto;">
        {{selectedSport}} Dashboard</h1>
      <div style="height: 100%; display:flex; align-items: center; justify-content: flex-end; margin-left:auto;">
        <button mat-button style=" background-color: #22577A; color: #DBD4D1 " (click)="sportProps()">Go to
          {{selectedSport}} Props</button>
      </div>

    </div>
    <div *ngIf="isDashboard" class="sport-section">
      
      <div style=" width: 100%; display: flex;  justify-content: space-evenly;  flex-wrap: wrap; margin-left:auto;">
        <div class="top-fives">
          <div style=" width: 100%; display: flex; ">
            <h1
              style=" width: 30%; height:inherit; text-align:start; margin-left: 1rem; padding-top: 1rem;  color:#DBD4D1; margin-bottom:0;">
              Top Players</h1>
          </div>


          <div style="height: 85%; width: 96%; margin-left: auto; margin-right: auto; margin-bottom: 1rem;">

            <table *ngIf="this.selectedSport == 'NBA'" mat-table [dataSource]="playerData" class="mat-elevation-z8" style="height: 100%; width:98%;">

              <ng-container matColumnDef="Player">
                <th mat-header-cell *matHeaderCellDef> Player </th>
                <td mat-cell *matCellDef="let element; let i = playerData; let j = index;">
                  <a class="teamLink" (click)="playerStatsClicked(element.playerId, element.playerName, element.teamId, element.teamName)">{{element.playerName}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="Points">
                <th mat-header-cell *matHeaderCellDef> Player 
                </th>
                <td mat-cell *matCellDef="let element"> {{element.points | number: '1.0-2'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Assists">
                <th mat-header-cell *matHeaderCellDef> Assists </th>
                <td mat-cell *matCellDef="let element"> {{element.assists | number: '1.0-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="Rebounds">
                <th mat-header-cell *matHeaderCellDef> Rebounds </th>
                <td mat-cell *matCellDef="let element"> {{element.totReb | number: '1.0-2'}} </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="playerAverageColumns; sticky:false"></tr>
              <tr mat-row [class.demo-row-is-clicked]="row.isHighlighted"
                *matRowDef="let row; columns: playerAverageColumns; " style="height:auto;"></tr>
            </table>

            <table *ngIf="this.selectedSport == 'MLB'" mat-table [dataSource]="playerData" class="mat-elevation-z8" style="height: 100%; width: 98%;">

              <ng-container matColumnDef="Player">
                <th  mat-header-cell *matHeaderCellDef> Player </th>
                <td mat-cell *matCellDef="let element; let i = playerData; let j = index;">
                  <a class="teamLink" (click)="playerStatsClicked(element.playerId, element.playerName, element.teamId, element.teamName)">{{element.playerName}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="Home Runs" >
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef class="click-header" [ngClass]="'click-header'"> <button mat-button style="padding-left: 0;"  (click)="onPlayerStatsClick('homeRuns')">HR</button> </th>
                <td mat-cell *matCellDef="let element" > {{element.batterHomeRuns | number: '1.0-2'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Rbi's">
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef  class="click-header">  <button mat-button style="padding-left: 0;" (click)="onPlayerStatsClick('rbis')">RBI</button> </th>
                <td mat-cell *matCellDef="let element"> {{element.batterRbis | number: '1.0-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="Hits">
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef  class="click-header">  <button mat-button style="padding-left: 0;"  (click)="onPlayerStatsClick('hits')">H</button>  </th>
                <td mat-cell *matCellDef="let element"> {{element.batterHits | number: '1.0-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="Total Bases">
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef  class="click-header"> <button mat-button style="padding-left: 0;" (click)="onPlayerStatsClick('totalBases')">TB</button>  </th>
                <td mat-cell *matCellDef="let element"> {{element.batterTotalBases | number: '1.0-2'}} </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="playerAverageColumns; sticky:false" class="click-header"></tr>
              <tr mat-row [class.demo-row-is-clicked]="row.isHighlighted"
                *matRowDef="let row; columns: playerAverageColumns; " style="height:auto;"></tr>
            </table>

            <table *ngIf="this.selectedSport == 'NFL'" mat-table [dataSource]="playerData" class="mat-elevation-z8 nfl-table" style="height: 100%; width: 98%;">

              <ng-container matColumnDef="Player">
                <th  mat-header-cell *matHeaderCellDef> Player </th>
                <td mat-cell *matCellDef="let element; let i = playerData; let j = index;">
                  <a class="teamLink" (click)="playerStatsClicked(element.playerId, element.playerName, element.teamId, element.teamName)">{{element.playerName}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="Pass Tds" >
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef class="click-header" [ngClass]="'click-header'"> <button mat-button class="player-table-button" style="padding-left: 0;"  (click)="onPlayerStatsClick('qbpassingtouchdowns')">Pass Tds</button> </th>
                <td mat-cell *matCellDef="let element" > {{element.qbPassingTouchdowns | number: '1.0-2'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Rush Tds" >
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef class="click-header" [ngClass]="'click-header'"> <button mat-button class="player-table-button" style="padding-left: 0;"  (click)="onPlayerStatsClick('rushingtouchdowns')">Rush Tds</button> </th>
                <td mat-cell *matCellDef="let element" > {{element.rushingTouchdowns | number: '1.0-2'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Rec Tds" >
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef class="click-header" [ngClass]="'click-header'"> <button mat-button class="player-table-button" style="padding-left: 0;"  (click)="onPlayerStatsClick('receivingtouchdowns')">Rec Tds</button> </th>
                <td mat-cell *matCellDef="let element" > {{element.receivingTouchdowns | number: '1.0-2'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Rushing Yards">
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef  class="click-header">  <button mat-button class="player-table-button" style="padding-left: 0;" (click)="onPlayerStatsClick('rushingYards')">Rush Yds</button> </th>
                <td mat-cell *matCellDef="let element"> {{element.rushingYards | number: '1.0-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="Receiving Yards">
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef  class="click-header">  <button mat-button class="player-table-button" style="padding-left: 0;"  (click)="onPlayerStatsClick('receivingYards')">Rec Yds</button>  </th>
                <td mat-cell *matCellDef="let element"> {{element.receivingYards | number: '1.0-2'}} </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="playerAverageColumns; sticky:false" class="click-header"></tr>
              <tr mat-row [class.demo-row-is-clicked]="row.isHighlighted"
                *matRowDef="let row; columns: playerAverageColumns; " style="height:auto;"></tr>
            </table>

            <table *ngIf="this.selectedSport == 'NHL'" mat-table [dataSource]="playerData" class="mat-elevation-z8" style="height: 100%; width: 98%;">

              <ng-container matColumnDef="Player">
                <th  mat-header-cell *matHeaderCellDef> Player </th>
                <td mat-cell *matCellDef="let element; let i = playerData; let j = index;">
                  <a class="teamLink" (click)="playerStatsClicked(element.playerId, element.playerName, element.teamId, element.teamName)">{{element.playerName}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="Points" >
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef class="click-header" [ngClass]="'click-header'"> <button mat-button style="padding-left: 0;"  (click)="onPlayerStatsClick('points')">Points</button> </th>
                <td mat-cell *matCellDef="let element" > {{element.points | number: '1.0-2'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Goals">
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef  class="click-header">  <button mat-button style="padding-left: 0;" (click)="onPlayerStatsClick('goals')">Goals</button> </th>
                <td mat-cell *matCellDef="let element"> {{element.goals | number: '1.0-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="Assists">
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef  class="click-header">  <button mat-button style="padding-left: 0;"  (click)="onPlayerStatsClick('assists')">Assists</button>  </th>
                <td mat-cell *matCellDef="let element"> {{element.assists | number: '1.0-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="Shots">
                <th style="padding-left: 0;" mat-header-cell *matHeaderCellDef  class="click-header"> <button mat-button style="padding-left: 0;" (click)="onPlayerStatsClick('shots')">Shots</button>  </th>
                <td mat-cell *matCellDef="let element"> {{element.shots | number: '1.0-2'}} </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="playerAverageColumns; sticky:false" class="click-header"></tr>
              <tr mat-row [class.demo-row-is-clicked]="row.isHighlighted"
                *matRowDef="let row; columns: playerAverageColumns; " style="height:auto;"></tr>
            </table>

          </div>
        </div>
        <div class="top-fives"
          >
          <div style=" width: 100%; display: flex; margin-bottom: 0px;">
            <h1
              style=" width: 30%; height:inherit; text-align:start; margin-left: 1rem; padding-top: 1rem;  color:#DBD4D1; margin-bottom:0;">
              Top Teams</h1>
            
          </div>
          <div style="height: 100%; width: 96%;  margin-left: auto; margin-right: auto; margin-bottom: 1rem; ">
            <table *ngIf="this.selectedSport == 'NBA'" mat-table [dataSource]="teamData" [fixedLayout]="false" class="mat-elevation-z8" style="height: 100%; width:98%">

              <ng-container matColumnDef="Team">
                <th mat-header-cell *matHeaderCellDef> Team </th>
                <td mat-cell *matCellDef="let element; let i = playerData; let j = index;">
                  <a class="teamLink" (click)="onTeamClick(element.teamName)">{{element.teamName}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="Wins">
                <th mat-header-cell *matHeaderCellDef> Wins </th>
                <td mat-cell *matCellDef="let element"> {{element.wins}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Losses">
                <th mat-header-cell *matHeaderCellDef> Losses </th>
                <td mat-cell *matCellDef="let element"> {{element.losses}} </td>
              </ng-container>

              <ng-container matColumnDef="Points Scored">
                <th mat-header-cell *matHeaderCellDef> Points Scored </th>
                <td mat-cell *matCellDef="let element"> {{element.pointsScored | number: '1.0-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="Points Allowed">
                <th mat-header-cell *matHeaderCellDef> Points Allowed </th>
                <td mat-cell *matCellDef="let element"> {{element.pointsAllowed | number: '1.0-2'}} </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="teamAverageColumns; sticky:false" ></tr>
              <tr mat-row [class.demo-row-is-clicked]="row.isHighlighted" 
                *matRowDef="let row; columns: teamAverageColumns; " style="height:auto;"></tr>
            </table>

            <table *ngIf="this.selectedSport == 'MLB'" mat-table [dataSource]="teamData" class="mat-elevation-z8" style="height: 100%; width: 98%;">
            
              <ng-container matColumnDef="Team">
                <th mat-header-cell *matHeaderCellDef> Team </th>
                <td mat-cell *matCellDef="let element; let i = playerData; let j = index;">
                  <a class="teamLink" (click)="onTeamClick(element.teamName)">{{element.teamName}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="Wins">
                <th mat-header-cell *matHeaderCellDef> Wins </th>
                <td mat-cell *matCellDef="let element"> {{element.wins}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Losses">
                <th mat-header-cell *matHeaderCellDef> Losses </th>
                <td mat-cell *matCellDef="let element"> {{element.losses}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="teamAverageColumns; sticky:false" ></tr>
              <tr mat-row [class.demo-row-is-clicked]="row.isHighlighted" 
                *matRowDef="let row; columns: teamAverageColumns; " style="height:auto;"></tr>

            </table>

            <table *ngIf="this.selectedSport == 'NFL'" mat-table [dataSource]="teamData" class="mat-elevation-z8" style="height: 100%; width: 98%;">
            
              <ng-container matColumnDef="Team">
                <th mat-header-cell *matHeaderCellDef> Team </th>
                <td mat-cell *matCellDef="let element; let i = playerData; let j = index;">
                  <a class="teamLink" (click)="onTeamClick(element.teamName)">{{element.teamName}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="Wins">
                <th mat-header-cell *matHeaderCellDef> Wins </th>
                <td mat-cell *matCellDef="let element"> {{element.wins}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Losses">
                <th mat-header-cell *matHeaderCellDef> Losses </th>
                <td mat-cell *matCellDef="let element"> {{element.losses}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="teamAverageColumns; sticky:false" ></tr>
              <tr mat-row [class.demo-row-is-clicked]="row.isHighlighted" 
                *matRowDef="let row; columns: teamAverageColumns; " style="height:auto;"></tr>

            </table>

            <table *ngIf="this.selectedSport == 'NHL'" mat-table [dataSource]="teamData" class="mat-elevation-z8" style="height: 100%; width: 98%;">
            
              <ng-container matColumnDef="Team">
                <th mat-header-cell *matHeaderCellDef> Team </th>
                <td mat-cell *matCellDef="let element; let i = playerData; let j = index;">
                  <a class="teamLink" (click)="onTeamClick(element.teamName)">{{element.teamName}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="Wins">
                <th mat-header-cell *matHeaderCellDef> W </th>
                <td mat-cell *matCellDef="let element"> {{element.wins}}
                </td>
              </ng-container>

              <ng-container matColumnDef="Losses">
                <th mat-header-cell *matHeaderCellDef> L </th>
                <td mat-cell *matCellDef="let element"> {{element.loss}} </td>
              </ng-container>

              <ng-container matColumnDef="OTL">
                <th mat-header-cell *matHeaderCellDef> OTL </th>
                <td mat-cell *matCellDef="let element"> {{element.otl}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="teamAverageColumns; sticky:false" ></tr>
              <tr mat-row [class.demo-row-is-clicked]="row.isHighlighted" 
                *matRowDef="let row; columns: teamAverageColumns; " style="height:auto;"></tr>

            </table>
          </div>
        </div>
      </div>
      
      <div class="upcoming-games">
        <div class="games-body">
          <h1 style="height: 10%; width: 100%; text-align: center; margin-top:1rem; color:#DBD4D1"> Upcoming Games</h1>
          <div
            style="width: 100%; display:flex; flex-wrap: wrap; justify-content: space-evenly;">
            <div
              style="width: 100%; margin-right: auto; margin-left: auto; display: flex; gap: 1rem; flex-wrap:wrap;  padding: 1rem; justify-content: space-evenly;">
              <mat-card *ngFor="let game of gameDataAllFinal"  class="game-card" >
                <mat-card-header style="border-bottom: 2px solid #31304d;  text-align: center; padding: .2rem; justify-content: center;">
                  <mat-card-title style="font-size:small; height: inherit">
                    <div style="height: inherit; width: auto; font-size:11px; text-wrap:wrap; margin-left: auto; margin-right: auto;">
                      <a class="teamLink" (click)="gameClick(game[0][0].bookId)" >{{game[0][0].awayTeam}} &#64; {{game[0][0].homeTeam}}</a>
                      
                      <h5 style="margin-top: 0; margin-bottom: 0;">{{game[0][0].commenceTime | getDayAndTime}}</h5>
                    </div>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content style="display:flex; flex-direction: column; padding: 0;">
                  <!-- <div *ngIf="game[0]" class="team-row">
                    <a class="teamLink" (click)="onTeamClick(game[0][0].awayTeam)"><p class="team-name">{{game[0][0].awayTeam | transforFromFullTeamNameToAbvr | async}}</p></a><p *ngIf="game[0][0]" class="team-prop">{{game[0][0].price > 0 ? '+' : ''}}{{game[0][0].price}}</p><div *ngIf="game[0][1]" class="spread-prop" ><p>{{game[0][1].point > 0 ? '+' : ''}}{{game[0][1].point}}</p><p>{{game[0][1].price > 0 ? '+' : ''}}{{game[0][1].price}}</p></div><div *ngIf="game[2][0]" class="spread-prop" ><p>{{game[2][0].point}}</p><p>{{game[2][0].price > 0 ? '+' : ''}}{{game[2][0].price}}</p></div><span *ngIf="game[2][0]" style="margin-bottom: auto;
                    margin-top: auto;">O</span>
                  </div>
                  <div *ngIf="game[1]" class="team-row">
                    <a class="teamLink" (click)="onTeamClick(game[0][0].homeTeam)"><p class="team-name">{{game[0][0].homeTeam | transforFromFullTeamNameToAbvr | async }}</p></a><p *ngIf="game[1][0]" class="team-prop">{{game[1][0].price > 0 ? '+' : ''}}{{game[1][0].price}}</p><div *ngIf="game[1][1]" class="spread-prop" ><p>{{game[1][1].point > 0 ? '+' : ''}}{{game[1][1].point}}</p><p>{{game[1][1].price > 0 ? '+' : ''}}{{game[1][1].price}}</p></div><div *ngIf="game[3][0]" class="spread-prop" ><p>{{game[3][0].point}}</p><p>{{game[3][0].price > 0 ? '+' : ''}}{{game[3][0].price}}</p></div><span *ngIf="game[3][0]" style="margin-bottom: auto;
                    margin-top: auto;">U</span>
                  </div> -->
                  <table mat-table [dataSource]="game" class="mat-elevation-z8">
                    <ng-container matColumnDef="Team">
                      <th mat-header-cell *matHeaderCellDef >  </th>
                      <td mat-cell *matCellDef="let element; let j = index;">
                        <a class="teamLink" (click)="onTeamClick(element[0].teamName)">{{getTeamAbvr(element[0].teamName)}}</a>
                      </td>
                    </ng-container>
      
                    <ng-container matColumnDef="ML">
                      <th mat-header-cell *matHeaderCellDef > H2H </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].price > 0 ? '+' : ''}}{{element[0].price}}
                      </td>
                    </ng-container>
      
                    <ng-container matColumnDef="Spread">
                      <th mat-header-cell *matHeaderCellDef > Spread </th>
                      <td mat-cell *matCellDef="let element" style="display:flex; flex-direction: column; padding-bottom:11px;"> <div>{{element[1].point > 0 ? '+' : ''}}{{element[1].point}}</div> <div>{{element[1].price > 0 ? '+' : ''}}{{element[1].price}}</div> </td>
                    </ng-container>

                    <ng-container matColumnDef="OverUnder">
                      <th mat-header-cell *matHeaderCellDef > O/U </th>
                      <td mat-cell *matCellDef="let element">
                        <div style="display:flex; gap:2px;">
                          <div style="display: flex; flex-direction: column;">
                            <div>{{element[2].point}}</div>
                            <div>{{element[2].price > 0 ? '+' : ''}}{{element[2].price}}</div>
                          </div>
                          <div style="align-content: center;">{{element[2].description == 'Over' ? 'O' : 'U'}}</div>
                        </div>   
                       </td>
                    </ng-container>
      
                    <tr mat-header-row *matHeaderRowDef="upcomingGamePropColumns; sticky:false" style="height:auto;" ></tr>
                    <tr mat-row [class.demo-row-is-clicked]="row.isHighlighted" 
                      *matRowDef="let row; columns: upcomingGamePropColumns; " ></tr>
                  </table>
                  

                  

                </mat-card-content>
              </mat-card>
            </div>

          </div>
        </div>
      </div>
      <div style="width:98%; margin-right:auto; margin-left: auto; margin-bottom:1rem;">
        <h2 *ngIf="selectedSport == 'NFL'" style="text-align: center;">Weekly Cheat Sheet</h2>
        <h2 *ngIf="selectedSport != 'NFL'" style="text-align: center;">Daily Cheat Sheet</h2>
        <table mat-table [dataSource]="betCheats" class="mat-elevation-z8">
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element; let j = index;">
             {{element.playerName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Game">
            <th mat-header-cell *matHeaderCellDef> Game</th>
            <td mat-cell *matCellDef="let element; let j = index;">
             {{(element.homeAway | lowercase) == 'home' ? element.teamAgainstName + " @ " + element.teamName : element.teamName + ' @ ' + element.teamAgainstName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Prop">
            <th mat-header-cell *matHeaderCellDef>Prop</th>
            <td mat-cell *matCellDef="let element">{{element.marketKey | removeUnderScore | removeHeading | titlecase}} {{element.description == 'I' ? '' : " " + element.description}}</td>
          </ng-container>

          <ng-container matColumnDef="Point">
            <th mat-header-cell *matHeaderCellDef >Point</th>
            <td mat-cell *matCellDef="let element">{{element.point}} </td>
          </ng-container>

          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef > Price </th>
            <td mat-cell *matCellDef="let element">{{element.price > 0 ? '+' : ''}}{{element.price}}</td>
          </ng-container>

          <ng-container matColumnDef="OverallChance">
            <th mat-header-cell *matHeaderCellDef >Overall Chance </th>
            <td mat-cell *matCellDef="let element">{{element.overallChance  | percent: '2.2-2'}}</td>
          </ng-container>

          <ng-container matColumnDef="HomeAwayChance">
            <th mat-header-cell *matHeaderCellDef >Home/Away Chance </th>
            <td mat-cell *matCellDef="let element">{{element.homeAwayChance  | percent: '2.2-2'}}</td>
          </ng-container>

          <ng-container matColumnDef="TeamChance">
            <th mat-header-cell *matHeaderCellDef >Team Chance </th>
            <td mat-cell *matCellDef="let element">{{element.teamChance  | percent: '2.2-2'}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="betCheatsColumns; sticky:false" class="tr-cheat" style="height:auto;" ></tr>
          <tr mat-row [class.demo-row-is-clicked]="row.isHighlighted" 
            *matRowDef="let row; columns: betCheatsColumns; " class="tr-cheat"></tr>
        </table>
      </div>


    </div>
  </div>
    <div *ngIf="isBestBets">

    </div>

</div> 