<h1>todos</h1>
<!-- <main>
    <form  (submit)="addTask()">
        <input placeholder="What needs to be done?" [(ngModel)]="newTaskTitle" name="newTaskTitle"/>
        <button>Add</button>
    </form>
    <div *ngFor="let task of tasks">
    <input type="checkbox" [(ngModel)]="task.completed" (change)="saveTask(task)"/>
    <input [(ngModel)]="task.title" />
    <button (click)="saveTask(task)">Save</button>
    <button  (click)="deleteTask(task)">Delete</button>
  </div>
  <div>
    <button (click)="setAllCompleted(true)">Set all as completed</button>
    <button (click)="setAllCompleted(false)">Set all as uncompleted</button>
  </div>
</main> -->

<button (click)="mlbPlayerCheck()">MLB</button>
<ul >
 <li *ngFor="let player of playerInfoFinal">{{player.playerName}}</li>
</ul>