<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Parlay Picks | {{listOfProps.length}} | {{overallProbability > 0 ? '+' : ''}}{{overallProbability | number: '1.0-0'}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    <div *ngFor="let prop of listOfProps" style="display:flex; gap:1rem;">
      <h4 style="margin-top:auto; margin-bottom:auto;">{{prop.propVariables.teamName}}</h4>
      <h4 style="margin-top:auto; margin-bottom:auto;">{{prop.propVariables.convertedMarketKey}}</h4>
      <h4 style="margin-top:auto; margin-bottom:auto;" *ngIf="prop.propVariables.propType == 'total'">{{prop.propVariables.overUnder == false ? 'Under' : 'Over'}}</h4>
      <h4 style="margin-top:auto; margin-bottom:auto;" *ngIf="prop.propVariables.propType != 'h2h'">{{prop.propVariables.propType == 'spread' ? (prop.propVariables.propPoint > 0 ? '+' : '') : ''}}{{prop.propVariables.propPoint}}</h4>
      <h4 style="margin-top:auto; margin-bottom:auto;">{{prop.propVariables.propPrice}}</h4>
      <button [color]="'primary'" (click)="$event.stopPropagation()" (click)="remove(prop)" style="margin-right:1rem; margin-left: auto; min-width:auto;"  mat-raised-button>X</button>
    </div>
    <button [color]="'primary'" (click)="$event.stopPropagation()" (click)="openPropChance()" style="margin-right:1rem; margin-left: auto; min-width:auto;"  mat-raised-button>X</button>
  </ng-template>
  </mat-expansion-panel>
</mat-accordion>