mat-accordion{
    width: fit-content;
    position: fixed;
    right: 2px;
    bottom: 2px;
    border: 2px solid rgb(48, 91, 210);
    border-radius: 10px;
    z-index: 10;
}
*{
    background-color:rgb(48, 91, 210);
}
.team-prop-display{
    background-color:rgb(48, 91, 210);
    display:flex;
    justify-items: center;
    padding-top: 1rem;
    gap: 1rem;
}
.container-class{
    gap: 1rem;
}
@media screen and (max-width: 974px) {
    .parlay-text{
        font-size:small !important;
    }
}